{% extends "_base.html" %}

{% block title %}Что в кино{% endblock %}
{% block link %}
    <link rel="stylesheet" href="/static/rateit.js/scripts/rateit.css"/>
{% endblock %}
{% block before_load %}
<div class="js-before-load">
    <i class="js-loader"></i>
</div>
{% endblock %}
{% block home_active %}"active"{% endblock %}
{% block container %}
      <div class="page-header">
        <h1>Сегодня в кино <small>Самые популярные фильмы, идущие в данный момент</small></h1>
      </div>

      <div class="js-films-table"></div>
{% endblock %}
{% block script %}
    <script src="/static/rateit.js/scripts/jquery.rateit.min.js"></script>
    <script>
    function getPage(pageUrl) {
      $(".js-before-load").show();
      $(".js-before-load").find(".js-loader").show();

      $.ajax({
        url: pageUrl,
        dataType: "html",
        success: function(films_table_html) {
          $(".js-films-table").html(films_table_html);
          $(".rateit").rateit();
          $(".js-before-load").find(".js-loader").fadeOut().end().delay(400).fadeOut("slow");
        }
      });
    }

    $(window).load(function() {
      getPage("/1");
    });
    </script>
{% endblock %}
